@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.input-field {
  @apply flex relative
}

.input-field label {
  @apply dark:bg-black absolute left-5 top-3 duration-300 px-1 pointer-events-none text-gray-500 shadow shadow-white capitalize
}

.input-field input,
.input-field button {
  @apply border px-4 py-3 rounded-2xl w-full
}

.input-field:focus-within label {
  top: -12px;
  background-color: white;
  color: rgb(0, 4, 255);
}

.input-field.written label {
  top: -12px;
  background-color: white;
  color: rgb(0, 4, 255);
}

.btn {
  @apply cursor-pointer
}

.external-signup-links button {
  @apply flex flex-col md:flex-row justify-evenly cursor-pointer border rounded-2xl p-2 items-center gap-1.5
}

.external-signup-links button img {
  @apply w-6 h-6
}

/* .sidebar-con {
  transform: translateX(-80%);
  transition: 0.5s;
}

.sidebar-con:hover {
  transform: translateX(0);
} */